@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
  --white: #fff;
  --gray: #c4c4c4;
  --light-purple: #6559ef;
  --dark-purple: #4c3fe2;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
}

html {
  font-size: 16px;
}

body {
  background-color: #252528;
  font-family: "Tajawal", sans-serif;
}

main {
  max-width: 1366px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
}

nav #mobile-toggle {
  display: none;
  color: var(--white);
  font-size: 2rem;
  cursor: pointer;
}

nav .logo {
  font-size: 3rem;
  color: var(--light-purple);
}

nav .nav-items {
  list-style-type: none;
  display: flex;
}

nav .nav-items .nav-item {
  padding-left: 2rem;
}

.nav-item .nav-link {
  color: var(--gray);
  text-decoration: none;
}

.nav-item .nav-link:hover {
  color: #faf5f5;
  text-decoration: none;
}

.cta {
  font-family: inherit;
  padding: 0.75rem 2rem;
  border: none;
  color: white;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.cta.dark {
  background-color: #252731;
  transition: background-color 0.3s;
}

.cta.dark:hover {
  background-color: #2b2c31;
}

/* القسم الأساسي */

.hero {
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3rem;
  width: 40%;
  text-align: center;
  color: var(--white);
  font-weight: 600;
  margin-bottom: 2rem;
}

.hero h1 span {
  color: var(--light-purple);
}

.cta.purple {
  background-color: var(--light-purple);
  margin-left: 1rem;
  transition: background-color 0.3s;
}

.cta.purple:hover {
  background-color: var(--dark-purple);
}


@media screen and (max-width: 1400px) {
	main {
	  max-width: 1024px;
	}
  }
  @media screen and (max-width: 1050px) {
	main {
	  max-width: 768px;
	}
	.features-list img {
	  display: none;
	}
	.details-list {
	  grid-template-columns: 1fr 1fr;
	}
  }
  
  @media screen and (max-width: 800px) {
	main {
	  max-width: 600px;
	}
	.details-list {
	  grid-template-columns: 1fr;
	}
	html {
	  font-size: 90%;
	}
  }
  
  @media screen and (max-width: 600px) {
	main {
	  margin: 2rem;
	  text-align: center;
	}
	.feature .content p {
	  width: 100%;
	}
	.hero {
	  margin: 5rem 0;
	}
	.hero h1 {
	  width: 80%;
	}
	nav #mobile-toggle {
	  display: block;
	}
	nav .nav-items {
	  display: none;
	  flex-direction: column;
	  position: absolute;
	  justify-content: center;
	  left: 0;
	  top: 12vh;
	  width: 100%;
	  height: 50%;
	  background-color: var(--dark-purple);
	}
  
	nav .nav-items.active {
	  display: flex;
	}
  
	nav .nav-items .nav-item {
	  padding: 2rem 0;
	  font-size: 1.4rem;
	}
  }
  
  .logo{
	margin-top: 1%;
	width: 70px;
	height: 70px;
	border-radius: 50px;
  }
  
  .icons_img{
	width: 50px;
	height: 50px;
  }
  

.html{
	font-size: 40px;
	color: #4c3fe2;
	text-align: center;
}

.video{
	border-radius: 14px;
	margin-left: 10px;
}

.hr{
	border: 2px #4c3fe2 solid;
}


button {
	border: none;
	display: block;
	position: relative;
	padding: 0.7em 2.4em;
	font-size: 18px;
	background: transparent;
	cursor: pointer;
	user-select: none;
	overflow: hidden;
	color: royalblue;
	z-index: 1;
	font-family: inherit;
	font-weight: 500;
   }

   
   button span::before {
	content: "";
	display: block;
	position: absolute;
	width: 8%;
	height: 500%;
	background: var(--lightgray);
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) rotate(-60deg);
	transition: all 0.3s;
   }
   
   button:hover span::before {
	transform: translate(-50%, -50%) rotate(-90deg);
	width: 100%;
	background: #FBCA1F;
   }
   
   button:hover {
	color: white;
   }
   
   button:active span::before {
	background: #FBCA1F;
   }

   .ch{
	color: #F32C2C;
	text-decoration: none;
	font-size: 20px;
}


.edit{
   text-align: left;
   text-decoration: none;
   color: #337CFF;
   font-size: 20px;
   border: #0D7BF2 2px solid;
   border-radius: 10px;
   border-right-color: #0D7BF2;
   border-left-color: #0D7BF2;
   border-top: red;
}

@media screen and (max-width: 767px) {
 .edit{
	text-align: left;
	text-decoration: none;
	color: #337CFF;
	font-size: 20px;
	border: #0D7BF2 2px solid;
	border-radius: 10px;
	border-right-color: #0D7BF2;
	border-left-color: #0D7BF2;
	border-top: red;
	margin-left: 150px;
}

.video{
	margin-left: 10px;
	width: 340px;
	height: 300px;
}
}
 
.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	right: 0;
	background-color: #2051FC;
	overflow-x: hidden;
	transition: 0.3s;
	padding-top: 60px;
	font-size: 20px;
  }
  
  .sidenav h1 {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 22px;
	color: #fff;
	display: block;
	transition: 0.2s;
  }
  
  .sidenav h1:hover {
	color: #000;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }
  
  @media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
  }
  

.title{
	text-align: center;
	color: white;
	margin-bottom: 50px;
	padding-top: 1px;
	padding-bottom: 2px;
}

.sub{
	color: white;
	font-size: 20.2px;
    border: #000 2px solid;
	border-radius: 10px;
	margin-bottom: 10px;
	margin-left: 10px;
	margin-right: 10px;
	padding-bottom: 10px;
	padding-top: 10px;
	transition: 0.7s ease;
}

.sub:hover{
	transform: scale(1.1);
}

#dark{
	font-size: 22px;
	border: #000 1px solid;
	border-radius: 15px;
	padding: 4px 4px 4px 4px;
	background-color: #2171C9;
	color: #fff;
 }

 @media (max-width:1023px){
    header{
        padding: 12px 20px;
    }

    .navgiation a{
        padding-left: 10px;
    }

    .title{
        font-size: 1.8em;
    }

    section{
        padding: 80px 20px;
    }

    .main-content h2{
        font-size: 1em;
    }

    .main-content h3{
        font-size: 1.6em;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}


@media (max-width:641px){
    body{
        font-size: 12px;
    }

    .main-content h2{
        font-size: 0.8em;
    }

    .main-content h3{
        font-size: 1.4em;
    }
}

@media (max-width:300px){
    body{
        font-size: 10px;
    }
}